# Advent of code 2022

I'm doing this for fun, so the amount of explanation I put in will vary according to how I feel.

In [55]:
import pandas as pd

## Part 1

Let's have a confusion matrix in a DataFrame:

In [56]:
df=pd.DataFrame({'Rock':{'Rock':3, 'Paper':0, 'Scissors':6},
                'Paper':{'Rock':6, 'Paper':3, 'Scissors':0},
                'Scissors':{'Rock':0, 'Paper':6, 'Scissors':3}
                })

df['Rock']=df['Rock']+1
df['Paper']=df['Paper']+2
df['Scissors']=df['Scissors']+3

df

          Rock  Paper  Scissors
Rock         4      8         3
Paper        1      5         9
Scissors     7      2         6

In [57]:
df=(df
    .rename({'Rock':'A', 'Paper':'B', 'Scissors':'C'}, axis='rows')
    .rename({'Rock':'X', 'Paper':'Y', 'Scissors':'Z'}, axis='columns'))
df

   X  Y  Z
A  4  8  3
B  1  5  9
C  7  2  6

In [58]:
test_input='''A Y
B X
C Z'''

Then just split the input and pump into the matrix to get the final score:

In [59]:
assert sum([df.loc[x, y] for (x, y) in [x.split() for x in test_input.splitlines()]])==15

In [60]:
with open('data/day02.txt') as fIn:
    puzzle_input=fIn.read()

In [61]:
sum([df.loc[x, y] for (x, y) in [x.split() for x in puzzle_input.splitlines()]])

13484

## Part 2

Can also do this as a confusion matrix, but slightly more (mentally) fiddly. It's early, so I'm not going to try to construct the matrix in my head.

In [62]:
df=pd.DataFrame({'Rock':{'Win':'Paper', 'Draw':'Rock', 'Lose':'Scissors'},
                'Paper':{'Win':'Scissors', 'Draw':'Paper', 'Lose':'Rock'},
                'Scissors':{'Win':'Rock', 'Draw':'Scissors', 'Lose':'Paper'}
                })
df

          Rock     Paper  Scissors
Win      Paper  Scissors      Rock
Draw      Rock     Paper  Scissors
Lose  Scissors      Rock     Paper

In [63]:
df=df.replace({'Rock':1, 'Paper':2, 'Scissors':3}).T
df

          Win  Draw  Lose
Rock        2     1     3
Paper       3     2     1
Scissors    1     3     2

In [64]:
df['Win']=df['Win']+6
df['Draw']+=3
df

          Win  Draw  Lose
Rock        8     4     3
Paper       9     5     1
Scissors    7     6     2

In [65]:
df=(df
    .rename({'Rock':'A', 'Paper':'B', 'Scissors':'C'}, axis='rows')
    .rename({'Lose':'X', 'Draw':'Y', 'Win':'Z'}, axis='columns'))
df

   Z  Y  X
A  8  4  3
B  9  5  1
C  7  6  2

In [66]:
test_input='''A Y
B X
C Z'''

Then just run the same statements as last time:

In [67]:
assert sum([df.loc[x, y] for (x, y) in [x.split() for x in test_input.splitlines()]])==12

In [68]:
sum([df.loc[x, y] for (x, y) in [x.split() for x in puzzle_input.splitlines()]])

13433