# Advent of code 2022

Let's go... still all enthusiastic. Don't know how long it'll last.

## Part 1

In [1]:
with open('data/day1.txt') as fIn:
    puzzle_input=fIn.read()

In [2]:
# First split by double spaces, then by single spaces
ll=[t.split() for t in puzzle_input.split('\n\n')]

ll[:5]

[['3344', '8938', '7923', '3979', '2753', '5730', '4225'],
 ['24216', '7432', '18284'],
 ['3475', '9177', '6769', '11335', '8061', '9302', '8132'],
 ['25796'],
 ['20937']]

Convert to `int`s:

In [3]:
ll=[[int(x) for x in l] for l in ll]
ll[:5]

[[3344, 8938, 7923, 3979, 2753, 5730, 4225],
 [24216, 7432, 18284],
 [3475, 9177, 6769, 11335, 8061, 9302, 8132],
 [25796],
 [20937]]

And find the maximum sum:

In [4]:
max([sum(x) for x in ll])

69310

## Part 2

Also straightforward enough: sort then get the top 3:

In [5]:
sum(sorted([sum(x) for x in ll])[-3:])

206104